{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["e2e/**/*.js", "**/*.spec.js"]}],
    "no-console": ["error", {
      "allow": ["info", "warn", "error"]
    }],
    "prefer-destructuring": ["off", {
      "array": true,
      "object": true
    }, {
      "enforceForRenamedProperties": false
    }],
    "no-use-before-define": ["off", { "functions": true, "classes": true }],
    "no-unused-vars": ["off", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  }
}
